<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h1>Bienvenue sur notre projet d'API</h1>
        <p>
            <strong>Avec la participation de :</strong>
            </br></br>Alexis MURAIL</br>Kévin Perquy</br>Luis-Miguel Borderon</br>Florence Bouchart
        </p>
        <h2>Entités : </h2>
        <a href = '/client'><h3>List des clients</h3></a>
        <a href = '/client/new'><h3>Ajouter client</h3></a>
        <a href = '/commande'><h3>List des commandes</h3></a>
    </body>
</html>